@model MicroJobs.Web.ViewModels.Job.JobListViewModel
@{
    this.ViewData["Title"] = "Всички обяви, страница: " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>

<hr />

<div class="row">
    @foreach (var job in this.Model.Jobs)
    {
        <div class="media col-md-4">
            <img src="@job.ImageUrl" width="150" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="SingleJob"asp-route-id="@job.Id">@job.Name</a></h5>
                @job.SubCategoryName
            </div>
        </div>
    }
</div>

<hr />

<partial name="_JobsPagingPartial" model="@Model" />

