@using System
@using System.Globalization
@using System.Threading

@model MicroJobs.Web.ViewModels.Job.SingleJobViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="single-recipe-layout1">
    <div class="ctg-name">@Model.SubCategoryName</div>
    <h2 class="item-title">@this.ViewData["Title"]</h2>
    <div class="row mb-4">
        <div class="col-xl-9 col-12">
            <ul class="entry-meta">
                @*<li class="single-meta">
                    <i class="far fa-calendar-alt"></i>
                    @Model.SubCategoryName
                </li>*@
                <li class="single-meta">
                    <i class="fas fa-user"></i>  Добавена от: 
                    @(Model.UserEmail ?? "анонимен потребител")
                </li>
                <li class="single-meta">
                    <ul class="item-rating">
                        <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                        <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-figure">
        <img class="img-fluid w-100" src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="item-feature">
        <ul>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-money-bill-alt"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Възнаграждение:</div>
                            <div class="feature-sub-title">@Model.Reward лв.</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-calendar-alt"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Валидна от:</div>
                            <div class="feature-sub-title">@Model.StartDate.Value.Date.ToShortDateString()</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-calendar-alt"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Валидна до:</div>
                            <div class="feature-sub-title">@Model.EndDate.Value.Date.ToShortDateString()</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-city"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Град:</div>
                            <div class="feature-sub-title">@Model.Town</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="making-elements-wrap">
        <div class="row">
            <div class="col-md-6 align-content-center">
                <div class="ingridients-wrap">
                    <h3 class="item-title">
                    <i class="fas fa-file-alt"></i>Детайли:</h3>
                    <div class="feature-sub-title">@Model.Description</div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var jobId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { jobId: jobId, value: value };

                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: { 'X-CSRF-TOKEN': antiForgeryToken },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                        console.log(data.averageVote);
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}