@using MicroJobs.Web.ViewModels.Worker
@model WorkersListViewModel
@{
    this.ViewData["Title"] = "Всички работници, страница №"+ " " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>

<hr />

<div class="row">
    @foreach (var worker in Model.Workers)
    {
        <div class="media col-md-4">
            <img src="@worker.ImageUrl" width="150" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="SingleWorker" asp-route-id="@worker.Id">@worker.FirstName  @worker.LastName</a></h5>
                 @worker.Town
            </div>
        </div>
    }
</div>

<hr />

<partial name="_PagingPartial" model="@Model" />